:root {
  --button-color: #2196f3;
  --box: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --border: 4px;
  --width: 1200px;
}
* {
  box-sizing: border-box;
}
.border {
  display: flex;

  align-items: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 25px;
  /* border: 1px solid red; */
}
.menu {
  width: 1200px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.header {
  max-width: 700px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  padding-right: 0px;
  padding-left: 0px;
}
.link:hover {
  color: #2196f3;

  background-color: #ffffff;
}

.link1 {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
}
.link1:hover {
  color: #2196f3;

  background-color: #ffffff;
}
.contact {
  /* background-color: #2196f3; */
}

.buttons {
  transition-duration: 0, 4s;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  margin-left: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buttons:hover {
  color: #ffffff;
  background-color: var(--button-color);
  box-shadow: var(--box);
  border-radius: var(--border);
  /* background: #2196f3; */
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;

  border: none;
  background-color: var(--button-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* .button:hover {
  color: #ffffff;
  background-color: var(--button-color);
  box-shadow: var(--box);

  box-shadow: var(--box);
  border-radius: var(--border);
   background: #2196f3;
}    */
/* .footerlinks{
    position: absolute;
} */

.main {
  color: #ffffff;

  border-top: 1px solid #ececec;
}
.section-main {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-image: linear-gradient(
      to top,
      rgba(0, 18, 105, 0) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("/images/team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-portfolio {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 50px;
  /* background-color: #757575; */
  /* display: flex;
  justify-content: center; */
}
.footer {
  background-color: #2f303a;
  color: #ffffff;
  min-height: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > .content {
  flex-grow: 1;
}
.footer-portfolio {
  background-color: #2f303a;
  color: #ffffff;
  min-height: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-portfolio > .content {
  flex-grow: 1;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-color: #c70035; */
}
.number {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 0px;
  /* background-color: #72f321; */
}

.paragraf2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
}
/* .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
 
  letter-spacing: 0.03em;

  color: #757575;
} */

.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  padding: 0px;
  list-style: none;
  justify-content: center;
}
.container-graph {
  max-width: 1200px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;

  margin: 0px;
  padding-top: 50px;
}

.box {
  padding-bottom: 30px;
  padding-top: 15px;
  margin: 0px;
}
.container-lorem {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  margin: 0;
  /* background-color: #2196f3; */
}
.box-lorem {
  max-width: 270px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0px;
  margin: 0px;
  padding: 0;
  padding-top: 30px;
}
.box-graph {
  display: block;
  padding-right: 30px;

  background-color: aqua;
}

.box-team {
  /* flex-basis: calc((100% - 45px) / 4); */
  max-width: 25%;
  gap: 0;
  margin: 0;
}
.description {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #757575;
  background-color: #ffffff;
  box-shadow: var(--box);
  max-width: 270px;
  padding-top: 30px;
  line-height: 30px;
  margin: 0;
  gap: 0;
}
.paragraf {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding: 0;
  margin: 0;
}

.paragraf1 {
  width: 1200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: solid;
  text-align: center;
  display: inline-block;

  margin: 0;
  padding-bottom: 50px;
}

.lorem {
  /* margin: 10 15px 15px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;

  color: #757575;
  text-align: justify;
}
.section {
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  /* padding-top: 200px;
  padding-bottom: 280px; */
}
.section-lorem {
  color: #ffffff;
  display: flex;
  justify-content: center;
  /* background-color: burlywood; */
  padding-top: 94px;
}
.section-whatwedo {
  color: #ffffff;
  display: flex;
  justify-content: center;
  /* background-color: darkolivegreen; */
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-portfolio {
  color: #ffffff;
  display: flex;
  justify-content: center;
  /* background-color: #f5f4fa; */
  padding-bottom: 44px;
  margin: 0;
  gap: 0;
}

.links {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  background-color: transparent;
}
.links:hover {
  color: #2196f3;

  background-color: transparent;
}
.header-portfolio {
  display: flex;
  justify-content: center;
}

/* .section-portfolio {
  background-color: #757575;

  max-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
} */

.container-portfolio {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  /* background-color: aqua; */
  margin: 0;
  /* padding-top: 50px; */
  /* padding-bottom: 94px; */
}
.box-portfolio {
  padding-bottom: 50px;
  margin: 0px;

  /* flex-basis: calc((100% - 60px) / 3); */
}
.figure-portfolio {
  margin: 0;
  padding: 0%;
}

.description-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #757575;

  box-shadow: var(--box);
  max-width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-portfolio2 {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  margin: 0;
  /* background-color: #f5f4fa; */
}
.box-portfolio2 {
  /* padding-bottom: 94px;
  padding-top: 15px; */
  margin: 0px;

  /* flex-basis: calc((100% - 60px) / 3); */
}
.figure-portfolio2 {
  margin: 0;
  padding: 0%;
}

.description-portfolio2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  font-family: "Roboto";
  box-shadow: var(--box);
  max-width: 370px;
}
.icon-antenna-1 {
  margin-left: 5px;
  margin-right: 5px;
  fill: #757575;
  /* stroke-width: 0; */
  background-color: #ffffff;
  border-radius: 50%;
}
.delete {
  fill: #ff1111;
}
.delete:hover {
  fill: #34f100;

  background-color: #bbbcc4;
}

.icon-antenna-1:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.icon-antenna-1:hover path {
  fill: greenyellow;
}
.box-icons {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  margin: 0px;
  padding: 0;
  padding-top: 30px;
  background-color: #f5f4fa;
}
.box-icons2 {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  margin: 0px;
  padding: 0;
  padding-top: 30px;
  background-color: #ffffff;
}

.icon-mail {
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 8px;
  fill: #afb1b8;
}
.socialmedia {
  display: flex;
  /* background-color: #34f100; */
  width: 1200px;
}

.box-icons3 {
  max-width: 270px;
  max-height: 100px;
  display: flex;
  padding-right: 0px;

  margin-left: 40px;
  padding: 0;

  /* background-color: #5b50ff; */
}
.icons-socials {
  margin-right: 5px;
  margin-left: 5px;
  fill: #ffffff;
  /* stroke-width: 0; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.icons-socials:hover {
  background-color: #2196f3;
}
.socialmedia2 {
  /* background-color: #757575; */
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}
.lorem2 {
  /* margin: 10 15px 15px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
  /* background-color: #2196f3; */
  color: #ffffff;
  text-align: justify;
}
.box-clients {
  max-width: 270px;
  max-height: 100px;
  display: flex;
  padding-right: 0px;

  margin-left: 40px;
  padding: 0;
}
.icon-client {
  margin-right: 5px;
  margin-left: 5px;
  fill: #ffffff;
  /* stroke-width: 0; */
  background-color: rgba(255, 255, 255, 0.1);
}
.icon-clinear:hover {
  background-color: #2196f3;
}
